/* Overrides */

.navbar-inverse {
  background-color: #4C4C4C;
  border-color: #4C4C4C;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3)
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav > li > a:hover {
  /*color: #fff;*/
}

.navbar-inverse .navbar-nav .navbar-new-order {
  color: #fff; 
  /*background-color: #777;*/

}

.navbar-new-order  {
  top: 10px;
  left: 120px;
  display: block;
  /*float: right;*/
  text-decoration: none;
  position: absolute;
  
  padding: 5px 9px 6px 9px;
  border-radius: 10px;

  color: #fff; 
  background-color: #777;
  border-style: none;
  outline: 0;
}