<nav class="navbar navbar-inverse navbar-main navbar-fixed-top">
  <div class="">
    <a class="navbar-brand" href="/">送餐班车</a>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <% if current_user %>
      <span class="navbar-new-order">
        <a href="#">新建订单</a>
        <%#= link_to '新建订单', new_order_path %>
      </span>    
      <% end %>
      
      <div class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to '登出', destroy_user_session_path, :method=>'delete' %></li>
        <% end %>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>